*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 8rem;
  background: #f5f5f5;
 div:nth-child(1){
   width: 100%;
   height: 4rem;
   display: flex;
   justify-content:center;
   align-items: center;
   img{
      width: 241px;
     margin-top: 8px;
   }
 }
  div:nth-child(2){
    width: 80%;
    height: 3rem;
    background: #ffffff;
    margin: 0 auto;
    padding: 13px 10px;
    color: #d9d9d9;
  }
}

.lunbo{
  width:100%;
  height: 140px;
  img{
    width: 100%;
  }
}

.box1{
  width:100%;
  ul{
    width:100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    li{
      width: 25%;
      text-align: center;
      margin-top: 12px;
      img{
        width: 69px;
      }
      p{
        letter-spacing: 4px;
      }
    }
  }
}
.box2{
  width: 100%;
  height: 3.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  div{
    margin-left: 12px;
  }
  div:nth-child(1){
    margin-left: 12px;
    width: 6px;
    height: 1.5rem;
    background: #ff7f14;
  }
  div:nth-child(2){
    font-weight: 600;
    font-size: 18px;
  }
  div:nth-child(3){
    font-weight: 500;
    font-size: 12px;
    margin-left: 29px;
  }
}
.box3{
  width: 100%;
  display: flex;
  justify-content: space-around;
  div{
    width: 25%;
    p:nth-child(2){
      margin-top: 7px;
    }
  }
  div:nth-child(1){
    margin-left: 12px;
    p:nth-child(1){
      font-size: 18px;
      color: #fe6232;
    }
    p:nth-child(2){
      font-size: 12px;
      font-weight: 500;

    }
  }
  div:nth-child(2){
    p:nth-child(1){
      font-size: 18px;
      color: #78c14c;
    }
    p:nth-child(2){
      font-size: 12px;
      font-weight: 500;

    }
  }
  div:nth-child(3){
    p:nth-child(1){
      font-size: 18px;
      color: #fe93aa;
    }
    p:nth-child(2){
      font-size: 12px;
      font-weight: 500;

    }
  }
  div:nth-child(4){
    p:nth-child(1){
      font-size: 18px;
      color: #6093f4;
    }
    p:nth-child(2){
      font-size: 12px;
      font-weight: 500;

    }
  }
}
.box4{
  width: 100%;
  display: flex;
  justify-content:space-around;
  div{
    width: 25%;
    text-align: center;
    img{
      width: 84px;
    }
  }
}
.box5{
  width: 100%;
  font-weight: 500;
  div:nth-child(1){
    display: flex;
    justify-content:center;
    font-size: 19px;
  }
  div:nth-child(2){
    ul{
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li{
        width: 25%;
        text-align: center;
        margin-top: 5px;
        letter-spacing: 1px;
      }
    }
  }
}
.box6{
  width: 100%;
  margin-top: 12px;
  div:nth-child(1){
    display: flex;
    justify-content: center;
    font-size: 19px;
  }
  div:nth-child(2){
    width: 100%;
    ul{
      width: 100%;
      list-style: none;
      display: flex;
      justify-content:space-around;
      flex-wrap: wrap;
      li{
        text-align: center;
        width: 32.5%;
        margin-top: 10px;
        img{
          width: 113px;
        }
      }
    }
  }
}
footer{
  width: 100%;
  height: 3.4rem;
  background: #f0f0f0;
  margin-top: 16px;
  ul{
    width: 100%;
    height: 3.4rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
    li{
      width: 20%;
      height: 3.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 22px;
      }
    }
  }
}

