*{
  padding:0;
  margin:0;
  font-size: 0.43rem;
  text-decoration: none;
  font-style: normal;
  color: #393a3e;
}
header{
  width: 100%;
  height: 0.53rem;
  background: #393a3e;
  ul{
    width: 100%;
    display: flex;
    justify-content:space-between;
    list-style: none;
    li:nth-child(1){
      img:nth-child(1){
        margin-left: 0.36rem;
        width: 0.2rem;
        height: 0.2rem;
      }
    }
    li:nth-child(2){
      img{
        margin-right: 0.36rem;
        width: 0.1rem;
      }
    }
  }
}
.lunbo{
  width: 100%;
  height: 2.58rem;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    text-align: center;
    img{
      width:1.58rem;
      height:1.67rem;
    }
    p{
      color: #ffffff;
      font-size: 0.23rem;
      //margin-left: 28px;
    }
  }
}
.box1{
  width: 100%;
  height: 0.86rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.04rem;
  div{
    width: 1.62rem;
    height: 0.62rem;
    border-left: 1px solid #d5d4d4;
    p{
      font-size: 0.23rem;
      text-align: center;
    }
  }
  div:nth-child(1){
    margin-right: -0.1rem;
  }
}
.box2{
  width: 100%;
  height: 0.64rem;
  display: flex;
  justify-content: space-between;
  div:nth-child(1){
    width: 2.12rem;
    height: 0.64rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
      width: 0.31rem;
      height: 0.3rem;
    }
    p{
      font-size: 0.26rem;
    }
  }
  div:nth-child(2){
      width: 13%;
    display: flex;
      align-items: center;
    img{
      width: 0.18rem;
      height: 0.2rem;
    }
  }
}
.box4{
  width: 100%;
  height: 0.79rem;
  background: #eeeded ;
}

footer{
  width: 100%;
  height: 0.7rem;
  background: #ffffff;
  ul{
    width: 100%;
    height: 0.7rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.74rem;
      height:0.7rem;
      img{
        width: 0.56rem;
        height: 0.44rem;
      }
    }
  }
}
.img1:hover{
  transition: all 1s linear;
  transform: scale(2,2);

}
.img2:hover{
  transition: all 1s linear;
  transform: scale(1.5,1.5);
}
